.chat-room-container {
  display: flex;
  height: 100%;

  app-chat-window{
    flex: 1;
    padding: 10px;
  }

  .verticle-line{
    width: 2px;
    background-color: black;
    height: 100%;
  }
}
